:root {
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-tertiary: #000000;
    --color-button: #2e9599;
    --color-button-hover: #0c7d85;
    --color-text: #eee9e9;
    --color-white: #ffffff;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* Banner */

/* Sección de entrada */


/* Títulos */
.main-title {
    font-size: 30px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(58, 248, 255, 0.8);
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #14879bda;
    border-radius: 35px 0 0 35px;
    font-size: 16px;
    box-shadow: 0 8px 8px rgba(20, 135, 155, 0.856);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 5px;
    font-size: 10px;
    border: 2px solid #ffffff;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #fdfeff;
    border-radius: 25px;
    box-shadow: 0 8px 8px rgba(20, 135, 155, 0.856);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #f2f5f5;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 110px 0 0;
    
    background-image: url("assets/astroo.jpg"); /* Ajusta si tu ruta es diferente */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 114%; /* Toda la pantalla */
    width: 100%;
    overflow: visible;
    position: relative;
    top: 0px;
    left: 0;
    

}

.banner-background {
    position: absolute;
    width: 0%;
    height: 0%;
    object-fit: cover; /* Para que cubra sin deformarse */
    z-index: 100;
    top: -10px;
    left: 0;
}

.main-title {
    position: relative;
    z-index: 0;
    color: rgb(255, 255, 255);
    font-size: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    width: 0%;
    top: -20px;
    left: -20px;
    text-shadow: 0px 0px 0px rgba(58, 248, 255, 0.8);
}